
Host jatos-root
    HostName 188.166.109.10
    Port 22
    User root
    EscapeChar none

Host jatos-web
    HostName 188.166.109.10
    Port 2022
    User admin
    IdentityFile ../.secrets/admin
    EscapeChar none