#cloud-config
users:
  - name: jatos
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC4B9xgvQdrwNXdfV7PgngqiSeCRlYB17L1mnfOkY0FO0xv79su61/bmXBZ3A/6xbgC+Q/I6gYvQUgABtqd2QBs3q5QFRSvC8pfIFaZEiICpVOam4AAPyGRsiqcfoyHyheJOMUzy6QFcQ6S4XiXccPk0ZtaLlaFWl67/kIJXdEq5hDoPFFzjquE/4bNSOpoekV+gmjO5LYB7DSaE3ZAtJ00DvI5bWGEh8BZBRi+eJ/C188eRwFekK3ot/fR5jv+mOtUbNOIdD+GxJ1IxBj9hq+mG/l3TtKTd+qSVmpjS3M59IhN5Dnof3Vw/cCHcYHFyqePzSp0378gDNcbcPH9gepOowL8YHuZT/rzj+Sg8IOmqXKh8D1pvLIAzTxVy95gSGhBAxadnOJvGJyrX4h15suTRms61S5kgcrWk8cxPc0zpDf6bRvBtqlQMOgFKeIyHJEt/a2XGhnS/HXZ43x+OiLnIJFtUBlTDpMy7vlPEB151NDVWqMYkAOZPmykjDCWN+s= fernandezmoralesj@ELSAMSM-400397
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    groups:
      - sudo
      - docker
    shell: /bin/bash

groups:
  - docker

write-files:
write_files:
  - path: /etc/environment
    content: |
      JATOS_DB_PASSWORD="${dbpassword}"
      DB_HOST="${dbhost}"
      DB_PORT="${dbport}"
      JATOS_DB_URL="${dbhost}:${dbport}/${dbname}"
    append: true

  - path: /etc/ssh/sshd_config.d/custom.conf
    content: |

      #       $OpenBSD: sshd_config,v 1.103 2018/04/09 20:41:22 tj Exp $

      Include /etc/ssh/sshd_config.d/*.conf

      Port 22022
      #AddressFamily any
      #ListenAddress 0.0.0.0
      #ListenAddress ::

      #HostKey /etc/ssh/ssh_host_rsa_key
      #HostKey /etc/ssh/ssh_host_ecdsa_key
      #HostKey /etc/ssh/ssh_host_ed25519_key

      # Authentication:

      #LoginGraceTime 2m
      PermitRootLogin yes
      #StrictModes yes
      #MaxAuthTries 6
      #MaxSessions 10

      PubkeyAuthentication yes

      # Expect .ssh/authorized_keys2 to be disregarded by default in future.
      #AuthorizedKeysFile     .ssh/authorized_keys .ssh/authorized_keys2

      # For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
      #HostbasedAuthentication no
      # Change to yes if you don't trust ~/.ssh/known_hosts for
      # HostbasedAuthentication
      #IgnoreUserKnownHosts no
      # Don't read the user's ~/.rhosts and ~/.shosts files
      IgnoreRhosts yes

      # To disable tunneled clear text passwords, change to no here!
      PasswordAuthentication no
      PermitEmptyPasswords no

      # Change to yes to enable challenge-response passwords (beware issues with
      # some PAM modules and threads)
      ChallengeResponseAuthentication no

      # no default banner path
      #Banner none

      # Allow client to pass locale environment variables
      AcceptEnv LANG LC_*

      # override default of no subsystems
      Subsystem sftp  /usr/lib/openssh/sftp-server

  - path: /home/jatos/.bashrc
    content: |
      alias vim="vim -p"

package_update: true
package_upgrade: true
packages:
  - git
  - vim-nox
  - zshG
  - net-tools
  - docker.io
  - mysql-client-core-8.0
  - etckeeper

runcmd:
  # Apply the custom ssh config
  - service ssh restart
  - [sh, -c, "chmod 755 /var/tmp"]
  # Set up Docker-Compose
  - sudo curl -L "https://github.com/docker/compose/releases/download/1.27.4/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
  - [
      sh,
      -c,
      'sudo curl -L "https://github.com/docker/compose/releases/download/1.27.4/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose',
    ]
  - sudo chmod +x /usr/local/bin/docker-compose
  - docker-compose --version
  # Clone the repo
  - git clone git@github.com:juanantoniofm/docker.jatos.git
  # Unlock the user account
  - usermod -p '${ssh_jatos_password}' username


system_info:
  default_user:
    groups: [docker]
